
<nav aria-label="breadcrumb">
  <ol class="breadcrumb arr-right">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Results</li>
  </ol>
</nav>


<div class="container" id="restaurant-list">

<div class="btn-group mb-4 mt-2" role="group" aria-label="Basic example">
  <a class="btn{{#if newRestaurants.price1}} btn-secondary{{else}} btn-outline-secondary{{/if}}" href="/restaurants?page=0&type={{newRestaurants.type}}&price=1">$</a>
  <a class="btn{{#if newRestaurants.price2}} btn-secondary{{else}} btn-outline-secondary{{/if}}" href="/restaurants?page=0&type={{newRestaurants.type}}&price=2">$$</a>
  <a class="btn{{#if newRestaurants.price3}} btn-secondary{{else}} btn-outline-secondary{{/if}}" href="/restaurants?page=0&type={{newRestaurants.type}}&price=3">$$$</a>
  <a class="btn{{#if newRestaurants.price4}} btn-secondary{{else}} btn-outline-secondary{{/if}}" href="/restaurants?page=0&type={{newRestaurants.type}}&price=4">$$$$</a>
</div>

{{#each newRestaurants.results}}


  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2 my-card">
        <a href="restaurants/details?place_id={{this.place_id}}" class="stretched-link"></a>
          <img src=" https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{this.photos.[0].photo_reference}}&key=AIzaSyAAoU3tX9pbzwxZ4JtRvTUKnLl8GfPDsMA" class="card-img" alt="...">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="restaurants/details?place_id={{this.place_id}}" class="stretched-link">{{this.name}}</a> <small class="text-muted"><span class="price{{this.price_level}}"><span></small></h5>
          <p class="card-text"><strong>{{this.rating}}</strong> ({{this.user_ratings_total}} reviews)</p>
        </div>
      </div>
    </div>
  </div>

  
{{/each}}


  

{{#if newRestaurants.next_page_token}}
<nav aria-label="Page navigation example pb-6" >
  <ul class="pagination d-flex  justify-content-end">
    {{#if newRestaurants.notfistPage}}
    <li class="page-item mr-2"><a class="page-link"href="javascript:window.history.go(-1);">Previous</a></li>
    {{/if}}
    <li class="page-item"><a class="page-link"href="/restaurants?page={{newRestaurants.page}}&price={{newRestaurants.price}}&type={{newRestaurants.type}}&pagetoken={{newRestaurants.next_page_token}}">Next</a></li>
    
  </ul>
</nav>
{{/if}}
</div>

